div[id$="value"]{
    background-color:#a9f07d;
    padding:0%;
    text-align:left;
    height:12%;
    border-radius:20px;
    padding-left:10%;
    color:#ffffff;
    transition:4s;
    width:0%;
}

div[id$="value"]{
    display:inline-block;
    height:auto;
    vertical-align:middle;
}
