/* ESTILOS GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Press+Start+2P&display=swap');

@import 'container.css';
@import 'h.css';
@import 'img.css';
@import 'window.css';
@import 'table-port.css';

*{
	margin:0%;
	padding:0%;
}

body{
	font-size:16px;
	background-color:#e6e6e6;
	top:-50px;
}

#navbar{
	height:50px;
	width: 100%;
	background-color:#24282a;
	position: sticky;
	text-align:right;
	overflow:visible;
	top: 0px;
}

#navbar>div{
	float:right;
	overflow: hidden;
	height: 100%;
	visibility: visible;
}

#navbar>div:first-child{
	visibility: visible;
}

#navbar>div>a{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	padding-left:40px;
	padding-right:40px;
	float:center;
	display: block;
	padding-top:15px;
	padding-bottom: 16px;
	text-decoration:none;
	color: #FFFFFF;
	
}

#navbar>div>a:hover{
	background-color: #582ac4;
}

#navbar>div:first-child{
	width:0%;
}

.profile{
	background-color: silver;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	border-radius: 40px;
	width: 50%;
}

#hero{
	text-transform:uppercase;
	font-family: 'Dosis', sans-serif;
	font-weight: Bold;
	overflow:auto;
	background-image: linear-gradient(40deg, rgb(252, 94, 94),  #582ac4);
	padding:2%;
	text-align:center;
	font-size:50px;
	z-index: 4;
}

#hero>div>div{
	float:left;
	display:none;
	color:#FFFFFF;
}

#hero>div{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.profile{
	width: 20%;
	height: 20%;
}

p{
	font-family: 'Dosis', sans-serif;
	font-size:19px;
	padding:4%;
	text-align:justify;
	color:#ffffff;
}

.out-h2{
	margin-top:4%;
}

@media(min-width:1200px){
	#navbar>div{
		visibility: visible;
	}
}

@media(max-width:900px){
	body{
		display: block;
		position:absolute;
		top:-150px;
	}

	div[class^="col"]{
		width:96%;
		margin-top:6%;
	}

	div[id^="soft"]{
		height:500px;
	}

	#navbar{
		top:0px;
		transition: 0.5s;
		z-index: 100;
		overscroll-behavior: auto;
	}

	#navbar>div{
		display:block;
		width:100%;
		visibility: hidden;
		background-color: #24282a;
	}

	#navbar>div:first-child{
		display:block;
		width:56px;
		float:right;
		margin-right: 20px;
		height: 50px;
	}

	#expand-nav{
		background-color: #24282a;
		border: none;
	}

	#navbar>div:first-child a{
		display:block;
		padding:0px;
		
		
	}

	#navbar img{
		filter: invert(100%);
		display:block;
		width:45px;
		height: 45px;
	}

	.table-port img{
		width:50px;
		margin:0%;
		margin:4%;
	}

	.window-col-2{
		display:block;
		width:100%;
		padding:1%;
		margin:1%;
	}

	div[class^="window"]{
		width: 92%;
	}

	.out-h2{
		margin-top:10%;
	}
}
.window-profile{
    width:50px;
}

